@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Roboto+Condensed:ital,wght@0,300;0,400;1,700&display=swap');



*{
  padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.5s;
}
html{
  scroll-behavior: smooth;
}

.topbar{
  position: relative;
  width: 100%;
  height: 75px;
  background-color: #ededed;
 
}
.logopng{
  padding: 0.3rem;
  height: 60%;
  margin-left: 0.3rem;
  margin-top: 0.8rem;
}
.menu{
  position: absolute;
  width: 550px;
  height: 40px;
  left: 189px;
  top: 25px;
 
}

.menu-item{
 text-align: center;
 display: inline;
 align-items: center;
 justify-content: center;
 padding: 1rem;

}
.menu-link{
 font-family: 'Baloo Da 2', serif;
 font-size: 1rem;
 color: #000;
 transition: color 1s;

}

.menu-link:hover{
 color: #ff8000;
}
.menu-item i{
  color: red;
  padding: 0.4rem;
}
#link-topo{
  position: fixed;
  right: 3rem;
  bottom: 2rem;
  width: 3rem;
  height: 3rem;
  background: #6a3093;
  background: -webkit-linear-gradient(to right, #ff8000, #ffff00 );
  background: linear-gradient(to right, #ffff00, #ff8000);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: .3rem;
  box-shadow: 0 0.1rem 0.6rem #000;
  transition: all 0.3s;
  font-size: 1.2rem;
  border-radius: 1rem;
  z-index: 100;
}
#link-topo:hover{
  color: red;
}

.cardapio {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.card {
  width: 18rem;
  height: 25rem;
  position: relative;
  transition: all 0.6s;
}

.card-img-wrapper {
  width: 100%;
  height: 100%;
  background-color: #262626;
  border-radius: .5rem;
}
.card-img-wrapper img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  opacity: .8;
  transition: opacity .3s;
}
.card:hover .card-img-wrapper{
  opacity: .6;
}
.card-info{
  position: absolute;
  bottom: 0;
  padding: 2.4rem;
  text-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, .6) ;
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
}

.card-info h2{
  font-family: 'Baloo Da 2', serif;
  font-size: 1.7rem;
  font-weight: 500;
  color: #eee;

  

}

.card-info h3{
  font-family: 'Josefin Slab', serif;
  font-weight: bolder;
  color: #ff4;
  margin-bottom: 1.5rem;
}

.card-info p{
  font-family:'Josefin Slab', serif;
  color: #eee ;
  font-weight: 400;
  width: 80%;
  margin-bottom: 1rem;

}

.btn{
  background: -webkit-linear-gradient(to right, #ff8000, #ffff00 );
  background: linear-gradient(to right, #ffff00, #ff8000);
  font-family: 'Mulish', serif;
  font-size: .8rem;
  color: #eee;
  border-radius: 5rem;
  border: none;
  box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4); 
  cursor: pointer;
}

.btn:hover{
  color: red;
}


.card-info button{

  width: 8rem;
  height: 2.5rem;
  
}
.card:hover .card-info{
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
}
.sessao-header{
  display: flex;
  justify-content: center;
  
}

.sessao-header h1{
  font-family: 'Baloo Da 2', serif;
  font-size: 2rem;
  color: #535252;
  border-bottom: solid 3px red ;
  margin-bottom: 3rem;
  margin-top: 1rem;
  
}